<!DOCTYPE html>
<html lang="en">
<head>
  <title>DHS App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/styles/login-pc.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
  <video autoplay muted loop id="myVideo">
    <source src="{{url_for('static', filename='images/login-pc-background.mp4')}}" type="video/mp4">
    <!--/*original: ../images/login-pc-background.mp4*/-->
    <!--https://i.imgur.com/EqWnlvu.mp4-->
  </video>
</head>
<body>

  <style>
    #rcorners:hover{
      opacity: 1.0;
    }
  </style>
  <div id="rcorners" class="center">
    <h1>Welcome To The Dunman App</h1>
    <a href="/login">
      <img src="../static/images/logo.png" style="width:10vw; height:10vw;">
    </a>
    <br>
    <br>
    <div class="login-button">
      <a href="/login" class="button-text" role="button" font="Varela Round", id="button-text">Login</a>
    </div>
  </div>
</body>

</html>