{% extends "testbootstrap.html" %}

{% block body %}

<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='styles/staff.css')}}">

<div style="text-align:center;">
    <h1 class="header">Staff</h1>

    <input id="searchbar" onkeyup="search()" type="text" name="search" placeholder="Search"> 

    {% for i in staff %}
        <div class="box">
            <div class="flex-container">
                <img src="{{url_for('static', filename='images/logo.png')}}", alt="Picture", class="pic">
                <div class="textgroup">
                    <h1 class="name">{{ i[1] }}</h1>
                    <h1 class="dept">Department: {{ i[2] }}</h1>
                    <h1 class="locker">Locker no. {{ i[3] }}</h1>
                    <h1 class="staffroom">{{ i[4] }}</h1>
                    <h1 class="extension">Extension no. {{ i[5] }}</h1>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script src="static/scripts/staff.js"></script>

{% endblock %}