h1 {
    font-family: "Source Sans Pro";
    font-size: 9vw;
    text-align: center;
}

p {
    font-family: "Source Sans Pro";
}

body {
    padding: 25px;
    background: url("../images/login2-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#rcorners {
    border-radius: 6vw;
    background: #d9d9d9;
    padding: 10px;
    box-shadow: 10px 10px 5px grey;
    width: 70vw;
    height: 50vh;
    opacity: 0.5;
    background-attachment: fixed;
}

.center {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-button {
    text-align: center;
}

.button-text {
    border-radius: 15px;
    font-family: "Varela Round";
    font-size: 10vw;
    text-decoration: none;
    background-color: #002080;
    color: #ffffff;
    padding: 2vw 6vw 2vw 6vw;
    border-top: 0.6vw solid #CCCCCC;
    border-right: 0.6vw solid #333333;
    border-bottom: 0.6vw solid #333333;
    border-left: 0.6vw solid #CCCCCC;
}