h1 {
    font-family: "Source Sans Pro";
    font-size: 3vw;
    text-align: center;
}

p {
    font-family: "Source Sans Pro";
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

body {
    padding: 0px;
    /*background: url("https://media.giphy.com/media/VFGZllxoVyOgWY88ft/giphy.gif");
    /*original: ../images/login-pc-background.mp4*/
    background-repeat: no-repeat;
    background-size: cover;
}

#rcorners {
    border-radius: 1.5vw;
    background: #d9d9d9;
    padding: 1vw;
    box-shadow: 10px 10px 5px grey;
    width: 30vw;
    height: 60vh;
    opacity: 0.5;
}

.center {
    text-align: center;
    margin: 1vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-button {
    text-align: center;
}

.button-text {
    border-radius: 15px;
    font-family: "Varela Round";
    font-size: 3.5vw;
    text-decoration: none;
    background-color: #002080;
    color: #ffffff;
    padding: 0.6vw 1.8vw 0.6vw 1.8vw;
    border-top: 0.3vw solid #CCCCCC;
    border-right: 0.3vw solid #333333;
    border-bottom: 0.3vw solid #333333;
    border-left: 0.3vw solid #CCCCCC;
}